/* Import the Luciad FONTS, provides icons required byt the Layer Control */
@import '~riux/lib/fonts/luciad/font/style.css';

/* Import the variabled for the theme */
@import "~riux/lib/styles/variables";
/* Modify the theme variables to match your prefered colors */
// @import "./theme/variables";
/* Import the RIUX styling */
@import "~riux/lib/styles/riux";

// @import "~fontsource-roboto";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $riux-text-color;
  -webkit-box-shadow: 0 0 0px 1000px $riux-modal-content-background-color inset;
  transition: background-color 5000s ease-in-out 0s;
}

.Desktop-class {
  top: 56px;
}

body { margin:0; } /* Remove body margins */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
